LogicApp1/AccountUpdateLogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "documentdb_1_Connection_Name": {
      "type": "string",
      "defaultValue": "documentdb"
    },
    "documentdb_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "mjr-035-cosdbs"
    },
    "documentdb_1_databaseAccount": {
      "type": "string",
      "metadata": {
        "description": "Name of the account without 'documents.azure.com' part"
      },
      "defaultValue": "mjr-035-cosdbs"
    },
    "documentdb_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Primary or Secondary Key"
      }
    },
    "LogicAppLocation": {
      "type": "string",
      "minLength": 1,
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth",
        "southafricanorth",
        "southafricawest"
      ],
      "defaultValue": "eastus2"
    },
    "LogicAppName": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "mjr-035-AccountUpdate"
    }
  },
  "variables": {},
  "resources": [
    {
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Query_documents": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['documentdb']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "query": "SELECT TOP 1 * FROM a WHERE a.object = 'Account'"
                },
                "headers": {
                  "x-ms-documentdb-raw-partitionkey": "\"@{triggerOutputs()['relativePathParameters']['accountNumber']}\""
                },
                "path": "/dbs/@{encodeURIComponent('mjr-035-001-db')}/colls/@{encodeURIComponent('accounts')}/query"
              },
              "runAfter": {}
            },
            "Replace_a_document": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['documentdb']['connectionId']"
                  }
                },
                "method": "put",
                "body": {
                  "account": "@body('Query_documents')?['Documents'][0]['account']",
                  "createdOn": "@body('Query_documents')?['Documents'][0]['createdOn']",
                  "id": "@body('Query_documents')?['Documents'][0]['id']",
                  "object": "@body('Query_documents')?['Documents'][0]['object']",
                  "phone": "@triggerBody()?['phoneNumber']",
                  "sysofrec": "@body('Query_documents')?['Documents'][0]['sysofrec']"
                },
                "headers": {
                  "x-ms-documentdb-raw-partitionkey": "\"@{triggerOutputs()['relativePathParameters']['accountNumber']}\""
                },
                "path": "/dbs/@{encodeURIComponent('mjr-035-001-db')}/colls/@{encodeURIComponent('accounts')}/docs/@{encodeURIComponent(body('Query_documents')?['Documents'][0]['id'])}"
              },
              "runAfter": {
                "Query_documents": [
                  "Succeeded"
                ]
              }
            },
            "Response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "accountNumber": "@body('Query_documents')?['Documents'][0]['account']",
                  "createdOn": "@body('Query_documents')?['Documents'][0]['createdOn']",
                  "id": "@body('Query_documents')?['Documents'][0]['id']",
                  "phoneNumber": "@triggerBody()?['phoneNumber']",
                  "systemOfRecord": "@body('Query_documents')?['Documents'][0]['sysofrec']"
                }
              },
              "runAfter": {
                "Replace_a_document": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "phoneNumber": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "method": "PUT",
                "relativePath": "/{accountNumber}"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "documentdb": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus2', '/managedApis/', 'documentdb')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('documentdb_1_Connection_Name'))]",
                "connectionName": "[parameters('documentdb_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "name": "[parameters('LogicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('LogicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('documentdb_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2018-07-01-preview",
      "name": "[parameters('documentdb_1_Connection_Name')]",
      "location": "eastus2",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', 'eastus2', '/managedApis/', 'documentdb')]"
        },
        "displayName": "[parameters('documentdb_1_Connection_DisplayName')]",
        "parameterValues": {
          "databaseAccount": "[parameters('documentdb_1_databaseAccount')]",
          "accessKey": "[parameters('documentdb_1_accessKey')]"
        }
      }
    }
  ],
  "outputs": {}
}